<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.trade.mapper.CarbonTradePriceMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ctp.creator_id,
        ctp.updated_id,
        ctp.created_time,
        ctp.updated_time,
        ctq.project_scope_code,
        ctq.project_scope,
        ctp.id,
        ctp.trade_quote_id,
        ctp.buyer_id,
        ctp.buyer_trade_quantity,
        ctp.buyer_unit_price,
        ctp.buyer_delivery_method,
        ctp.buyer_delivery_exchange,
        ctp.buyer_delivery_time,
        ctp.seller_id,
        ctp.seller_trade_quantity,
        ctp.seller_unit_price,
        ctp.seller_delivery_method,
        ctp.seller_delivery_exchange,
        ctp.seller_delivery_time
    </sql>

    <select id="getCarbonTradePriceById" resultType="com.carbon.trade.vo.CarbonTradePriceQueryVo">
        select <include refid="Base_Column_List"/> from carbon_trade_price ctp. where id = #{id}
    </select>

    <select id="getCarbonTradePricePageList" resultType="com.carbon.trade.vo.CarbonTradePriceQueryVo">
        select <include refid="Base_Column_List"/> ,
            ctq.project_type,
            ctq.asset_type,
            ctq.publisher_id,
            ctq.expiration_date,
            ctq.project_scope_code,
            ctq.project_scope,
            ctq.creator_id publisherUserId,
            st_buyer.tenant_name buyerName,
            st_seller.tenant_name sellerName

        from carbon_trade_price ctp
        left join carbon_trade_quote ctq on ctq.id = ctp.trade_quote_id
        left join sys_tenant st_buyer on st_buyer.id = ctp.buyer_id
        left join sys_tenant st_seller on st_seller.id = ctp.seller_id
        <where>
            (ctp.buyer_id = #{param.tenantId} or ctp.seller_id = #{param.tenantId})
            <if test="param.tradeRole == '0270000001' ">
                and ctp.buyer_id = #{param.tenantId}
            </if>
            <if test="param.tradeRole == '0270000002' ">
                and ctp.seller_id = #{param.tenantId}
            </if>
            <if test="param.expirationDateStart != null and param.expirationDateEnd != null">
                and date_format(ctq.expiration_date,'%Y-%m-%d')  between date_format(#{param.expirationDateStart},'%Y-%m-%d')
                and  date_format(#{param.expirationDateEnd},'%Y-%m-%d')
            </if>
            <if test="param.projectType != null and param.projectType != '' ">
                and ctq.project_type = #{param.projectType}
            </if>
            <if test="param.projectScope != null and param.projectScope != '' ">
                and ctq.project_scope = #{param.projectScope}
            </if>
            <if test="param.projectScopeCode != null and param.projectScopeCode != '' ">
                and ctq.project_scope_code = #{param.projectScopeCode}
            </if>
            <if test="param.assetType != null and param.assetType != '' ">
                and ctq.asset_type = #{param.assetType}
            </if>
            <if test="param.buyerName != null and param.buyerName != '' ">
                and st_buyer.tenant_name like concat('%',#{param.buyerName},'%')
            </if>
            <if test="param.sellerName != null and param.sellerName != '' ">
                and st_seller.tenant_name like concat('%',#{param.sellerName},'%')
            </if>
        </where>
    </select>

</mapper>
