<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.trade.mapper.CarbonTradeQuoteMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ctq.id,ctq.project_scope,ctq.project_scope_code,
        ctq.creator_id,ctq.updated_id,ctq.created_time,ctq.updated_time,
        ctq.trade_role, ctq.institution_name,ctq.contacts_name,ctq.contacts_phone,
        ctq.contacts_email, ctq.project_type, ctq.asset_type, ctq.trade_quantity,
        ctq.asset_unit, ctq.asset_unit_price, ctq.status, ctq.expiration_date, ctq.delivery_method,
        ctq.delivery_exchange, ctq.delivery_time, ctq.publisher_id, ctq.project_name, ctq.project_id
    </sql>

    <select id="getCarbonTradeQuoteById" resultType="com.carbon.trade.vo.CarbonTradeQuoteQueryVo">
        select <include refid="Base_Column_List"/> from carbon_trade_quote ctq where ctq.id = #{id}
    </select>

    <select id="getCarbonTradeQuotePageList" resultType="com.carbon.trade.vo.CarbonTradeQuoteQueryVo">
        select <include refid="Base_Column_List"/>,
        st.tenant_name publisherName
        from carbon_trade_quote ctq
        left join sys_tenant st on st.id = ctq.publisher_id
        left join sys_dict_item sd1 on sd1.dict_code = '004' and sd1.item_value = ctq.project_type
        left join sys_dict_item sd2 on sd2.dict_code = '014' and sd2.item_value = ctq.asset_type
        <where>
            <if test="param.tradeRole != null and param.tradeRole != '' ">
                and ctq.trade_role = #{param.tradeRole}
            </if>
            <if test="param.keyword != null and param.keyword != '' ">
                and (ctq.institution_name like concat('%',#{param.keyword},'%') or
                sd1.item_ch like concat('%',#{param.keyword},'%') or
                sd2.item_ch like concat('%',#{param.keyword},'%') )
            </if>
            <if test="param.projectType != null and param.projectType != '' ">
                and ctq.project_type = #{param.projectType}
            </if>
            <if test="param.assetType != null and param.assetType != '' ">
                and ctq.asset_type = #{param.assetType}
            </if>
            <if test="param.status != null and param.status != '' ">
                and ctq.status = #{param.status}
            </if>
            <if test="param.projectScopeCode != null and param.projectScopeCode != '' ">
                and ctq.project_scope_code = #{param.projectScopeCode}
            </if>
            <if test="param.projectScope != null and param.projectScope != '' ">
                and ctq.project_scope = #{param.projectScope}
            </if>
            <if test="param.expirationDateStart != null and param.expirationDateEnd != null">
                and date_format(ctq.expiration_date,'%Y-%m-%d')  between date_format(#{param.expirationDateStart},'%Y-%m-%d')
                and  date_format(#{param.expirationDateEnd},'%Y-%m-%d')
            </if>
        </where>
    </select>




    <select id="getCarbonMetaregistryByCarbonMetaregistryProjectId" parameterType="long" resultType="com.carbon.trade.vo.MetaregistryDataVo">
        select
            cmr.project_scope,
            cmr.project_scope_code,
            cmr.project_scope_type,
            cmr.project_scope_type_code
        from carbon_metaregistry cmr
        LEFT JOIN  carbon_metaregistry_project cmp ON cmr.id = cmp.metaregistry_id
        where cmp.id = #{id}
    </select>

</mapper>
