<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.mq.mapper.SysDictItemMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        creator_id,
        updated_id,
        created_time,
        updated_time,
        id,
        dict_code, item_value, item_ch, item_en, description, sort_order, status
    </sql>


</mapper>
