<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.assets.mapper.CarbonProjectMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cp.creator_id,
        cp.updated_id,
        cp.created_time,
        cp.updated_time,cp.ref_id
        cp.id, cp.project_name, cp.project_introduction, cp.principal_name,
        cp.principal_phone, cp.legal_person_name, cp.legal_person_phone, cp.project_type,
        cp.project_status, cp.country, cp.province, cp.city, cp.address,cp.owner_name,
        cp.assets_develop_agency,cp.initiation_date ,cp.carbon_methodology, cp.approval_date, cp.record_filing_date, cp.certified_date, cp.issuing_date, cp.tenant_id
    </sql>

    <select id="getCarbonProjectById" resultType="com.carbon.assets.vo.CarbonProjectQueryVo">
        select cp.*
        from carbon_project cp
        where  cp.id = #{id}
    </select>

    <select id="getCarbonProjectByName" resultType="com.carbon.assets.entity.CarbonProjectContent">
        select cp.*,sdi.item_ch as project_scope,cp.project_type as project_type
        from carbon_project cp,sys_dict_item sdi
        where cp.project_scope_code=sdi.item_value and cp.project_name=#{name}
    </select>

    <select id="getCarbonProjectPageList" resultType="com.carbon.assets.vo.CarbonProjectListVo">
        select
        cp.id,
        cp.project_name,
        cp.project_status,
        cp.project_scope_code,
        cp.carbon_methodology,
        cm.name as carbonMethodologyName,
        cp.address,
        cp.owner_name,
        cp.tenant_id,
        cp.initiation_date,
        cp.project_scope_code,
        cp.approval_date,
        cp.record_filing_date,
        cp.certified_date,
        cp.issuing_date,
        cp.updated_time,
        cp.data_submission_status,
        cp.design_document,
        cm.certification_criteria,
        cm.field_code,
        cm.field_child_code,
        cm.industry_code
        from carbon_project cp
        left join carbon_methodology cm on cm.dict_code = cp.carbon_methodology
        <where>
            <if test="param.name != null and param.name !='' ">
                (cp.project_name like CONCAT('%',#{param.name},'%') or cp.id like CONCAT('%',#{param.name},'%'))
            </if>
            <if test="param.projectStatus != null and param.projectStatus !='' ">
                and cp.project_status = #{param.projectStatus}
            </if>
            <if test="param.startDate != null">
                and <![CDATA[ cp.created_time >= #{param.startDate} ]]>
            </if>
            <if test="param.endDate != null">
                and <![CDATA[ cp.created_time <= #{param.endDate} ]]>
            </if>

            <if test="param.initiationDateStart != null">
                and <![CDATA[ cp.initiation_date >= #{param.initiationDateStart} ]]>
            </if>
            <if test="param.initiationDateEnd != null">
                and <![CDATA[ cp.initiation_date <= #{param.initiationDateEnd} ]]>
            </if>

            <if test="param.methodologyName != null and param.methodologyName !='' ">
                and cm.name like CONCAT('%',#{param.methodologyName},'%')
            </if>
            <if test="param.fieldCode !=null and param.fieldCode !='' ">
                and cm.field_code = #{param.fieldCode}
            </if>
            <if test="param.fieldChildCode !=null and param.fieldChildCode !='' ">
                and cm.field_child_code = #{param.fieldChildCode}
            </if>
            <if test="param.industryCode !=null and param.industryCode !='' ">
                and cm.industry_code = #{param.industryCode}
            </if>
            <if test="param.certificationCriteria !=null and param.certificationCriteria !='' ">
                and cm.certification_criteria = #{param.certificationCriteria}
            </if>
            <if test="param.projectScopeCode !=null and param.projectScopeCode !='' ">
                and cp.project_scope_code = #{param.projectScopeCode}
            </if>
        </where>
    </select>

<!--    检测数据现阶段指标只有 0090858183、0090500131、0090700002、0090700005-->
    <select id="getDataSubmissionPage" resultType="com.carbon.assets.vo.CarbonProjectListVo">
        select
        cp.id,
        cp.project_name,
        cp.project_status,
        cp.project_scope_code,
        cp.carbon_methodology,
        cm.name as carbonMethodologyName,
        cp.address,
        cp.owner_name,
        cp.tenant_id,
        cp.initiation_date,
        cp.project_scope_code,
        cp.approval_date,
        cp.record_filing_date,
        cp.certified_date,
        cp.issuing_date,
        cp.updated_time,
        cp.data_submission_status,
        cp.design_document,
        cm.certification_criteria,
        cm.field_code,
        cm.field_child_code,
        cm.industry_code
        from carbon_project cp
        left join carbon_methodology cm on cm.dict_code = cp.carbon_methodology
        <where>
            cp.carbon_methodology in('0090858183','0090500131','0090700002','0090700005')
            <if test="param.name != null and param.name !='' ">
               and  (cp.project_name like CONCAT('%',#{param.name},'%') or cp.id like CONCAT('%',#{param.name},'%'))
            </if>
            <if test="param.projectStatus != null and param.projectStatus !='' ">
                and cp.project_status = #{param.projectStatus}
            </if>
            <if test="param.startDate != null">
                and <![CDATA[ cp.created_time >= #{param.startDate} ]]>
            </if>
            <if test="param.endDate != null">
                and <![CDATA[ cp.created_time <= #{param.endDate} ]]>
            </if>

            <if test="param.initiationDateStart != null">
                and <![CDATA[ cp.initiation_date >= #{param.initiationDateStart} ]]>
            </if>
            <if test="param.initiationDateEnd != null">
                and <![CDATA[ cp.initiation_date <= #{param.initiationDateEnd} ]]>
            </if>

            <if test="param.methodologyName != null and param.methodologyName !='' ">
                and cm.name like CONCAT('%',#{param.methodologyName},'%')
            </if>
            <if test="param.fieldCode !=null and param.fieldCode !='' ">
                and cm.field_code = #{param.fieldCode}
            </if>
            <if test="param.fieldChildCode !=null and param.fieldChildCode !='' ">
                and cm.field_child_code = #{param.fieldChildCode}
            </if>
            <if test="param.industryCode !=null and param.industryCode !='' ">
                and cm.industry_code = #{param.industryCode}
            </if>
            <if test="param.certificationCriteria !=null and param.certificationCriteria !='' ">
                and cm.certification_criteria = #{param.certificationCriteria}
            </if>
            <if test="param.projectScopeCode !=null and param.projectScopeCode !='' ">
                and cp.project_scope_code = #{param.projectScopeCode}
            </if>
        </where>
    </select>
    <!--    </update>-->
    <select id="getDataSubmissionPageById" resultType="com.carbon.assets.vo.CarbonDetectionDataVo">
        SELECT xci.unit,
        xci.description,
        xci.data_use,
        xci.comment,
        xcm.mode_name,
        xcid.qa_qc_program,
        xcid.method_program,
        xcid.frequence,
        xcf.source_from,
        cp.created_time,
        cp.creator_id,
        cp.updated_time,
        cp.updated_id
        FROM (carbon_project cp)
        LEFT JOIN x_carbon_methodology_index xcmi ON cp.carbon_methodology=xcmi.methodology_code
        LEFT JOIN x_carbon_index xci ON xcmi.index_code=xci.code
        LEFT JOIN x_carbon_model xcm ON xcm.index_code=xci.code
        LEFT JOIN x_carbon_index_detection xcid ON xcid.index_code=xci.code
        LEFT JOIN x_carbon_factor xcf ON xcf.index_code=xci.code
        WHERE cp.id=#{id}
        AND xci.category ='非计算'
        AND xci.type='项目' GROUP BY xci.`code`
    </select>

    <!--    <update id="insertSubmissionToDB" parameterType="com.carbon.assets.param.CarbonDataSubmissionQueryParam">-->
    <!--        UPDATE `carbon`.`x_carbon_factor`-->
    <!--        SET `parameter_list` = #{param.parameterList},-->
    <!--            `source_from` = #{param.sourceFrom},-->
    <!--            `creator_id` = #{param.creatorId},-->
    <!--            projcet_id = #{param.projectId}-->
    <!--        WHERE projcet_id = #{param.projectId})-->

    <insert id="insertSubmissionToFactorTable" parameterType="com.carbon.assets.param.CarbonDataSubmissionQueryParam">
        INSERT
        INTO `carbon`.`x_carbon_factor`
            (`parameter_list`, `source_from`, `creator_id`, `factor_code`)
        VALUES ( #{param.parameterList}, #{param.sourceFrom}, #{param.creatorId}, #{param.factorCode})

    </insert>


    <insert id="insertSubmissionToFactorProjectTable" parameterType="com.carbon.assets.param.CarbonDataSubmissionQueryParam">
        INSERT
        INTO `carbon`.`x_carbon_factor_project` (`project_id`, `factor_code`)
        VALUES (#{param.projectId}, #{param.factorCode})
    </insert>


    <select id="updateDataSubmissionPage" resultType="com.carbon.assets.vo.CarbonDetectionDataVo">
        SELECT xcf.parameter_list
        FROM x_carbon_factor xcf
            LEFT JOIN x_carbon_factor_project xcfp ON xcfp.factor_code=xcf.factor_code
        WHERE xcfp.project_id= #{id}
    </select>


    <delete id="delDataSubmissionPage" parameterType="String">
        DELETE FROM `carbon`.`x_carbon_factor_project` WHERE `project_id` = #{id}
    </delete>


    <select id="getIdByMethodologyId" parameterType="Long" resultType="long">
        SELECT cp.id FROM
        carbon_project cp left join carbon_metaregistry cm
        ON cm.ref_id = cp.ref_id
        WHERE cm.id = #{id}
    </select>

    <!--    <delete id="dataDel" parameterType="String">-->
<!--        DELETE FROM `carbon`.`x_carbon_factor` WHERE project_id=#{projectId}-->
<!--    </delete>-->

<!--    <select id="getIndexType" resultType="String">-->
<!--        SELECT distinct xci.type FROM `carbon`.`x_carbon_index` xci-->
<!--    </select>-->
</mapper>
