<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.assets.mapper.CarbonCreditAssetsMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cca.issuing_certificates_file_name,
        cca.buy_certificate_file_name,
        cca.creator_id,
        cca.updated_id,
        cca.created_time,
        cca.updated_time,
        cca.id,
        cca.carbon_project_id,
        cca.carbon_exchange_id,
        cca.certified_agency,
        cca.issuing_agency,
        cca.issuing_certificates,
        cca.issuing_date,
        cca.expiry_date,
        cca.assets_status,
        cca.transaction_status,
        cca.buy_total_price,
        cca.buy_unit_price,
        cca.buy_date, cca.buy_certificate, cca.total, cca.available_amount, cca.frozen_amount,
        cca.locked_amount, cca.valuation, cca.tenant_id
    </sql>

    <select id="getCarbonCreditAssetsById" resultType="com.carbon.assets.vo.CarbonCreditAssetsQueryVo">
        select <include refid="Base_Column_List"/>,
        ce.name carbonExchangeName,
        ce.website carbonExchangeWebsite,
        cmp.project_introduction,
        cml.name carbonMethodologyName,
        cml.certification_criteria,
        cmr.project_name,
        cmr.project_scope_code,
        cmr.project_industry_code,
        cmr.project_scope_type_code,
        cmr.project_scope_type
        from carbon_credit_assets cca
        left join carbon_exchange ce on ce.id = cca.carbon_exchange_id
        left join carbon_metaregistry_project cmp on cmp.id = cca.carbon_project_id
        left join carbon_metaregistry cmr on cmr.id = cmp.metaregistry_id
        left join carbon_methodology cml on cml.dict_code = cmr.methodology_code
        where cca.id = #{id}
    </select>

    <select id="getCarbonCreditAssetsPageList" resultType="com.carbon.assets.vo.CarbonCreditAssetsQueryVo">
        select <include refid="Base_Column_List"/>,

        ce.name carbonExchangeName,
        cmp.project_introduction,
        cml.name carbonMethodologyName,
        cml.certification_criteria,
        cmr.project_status_code,
        cmr.project_name,
        cmr.project_scope_code,
        cmr.project_industry_code,
        cmr.project_scope_type_code,
        cmr.project_scope_type
        from carbon_credit_assets cca
        left join carbon_exchange ce on ce.id = cca.carbon_exchange_id
        left join carbon_metaregistry_project cmp on cmp.metaregistry_id = cca.carbon_project_id
        left join carbon_metaregistry cmr on cmr.id = cmp.metaregistry_id
        left join carbon_methodology cml on cml.dict_code = cmr.methodology_code

        <where>
            <!--cmr.project_status_code='0100000013'-->
            <if test="param.projectName != null and param.projectName !='' ">
                and cmr.project_name like CONCAT('%',#{param.projectName},'%')
            </if>
            <if test="param.methodName != null and param.methodName !='' ">
                and cml.name like CONCAT('%',#{param.methodName},'%')
            </if>
            <if test="param.certificationCriteria != null and param.certificationCriteria !=''">
                and  cml.certification_criteria = #{param.certificationCriteria}
            </if>
            <if test="param.assetsStatus != null and param.assetsStatus != ''">
                and cca.assets_status = #{param.assetsStatus}
            </if>
            <if test="param.transactionStatus != null and param.transactionStatus !=''">
                and cca.transaction_status = #{param.transactionStatus}
            </if>
            <if test="param.industryCode != null and param.industryCode !=''">
                and cmr.project_scope_type_code = #{param.industryCode}
            </if>
            <if test="param.issuingDateStart != null ">
                and <![CDATA[ cca.issuing_date >= #{param.issuingDateStart} ]]>
            </if>
            <if test="param.issuingDateEnd != null ">
                and <![CDATA[ cca.issuing_date <= #{param.issuingDateEnd} ]]>
            </if>
            <if test="param.projectScopeCode != null and param.projectScopeCode !=''">
                and cmr.project_scope_code = #{param.projectScopeCode}
            </if>
        </where>

    </select>
    <select id="getCarbonAssetsTotal" resultType="com.carbon.assets.vo.CarbonAssetsTotalVo">
        select sum(cca.total) total,
               sum(cca.available_amount) availableAmount,
               sum(cca.frozen_amount) frozenAmount,
               sum(cca.locked_amount) lockedAmount
        from carbon_credit_assets cca
    </select>

</mapper>
