<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.assets.mapper.CarbonExchangeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        creator_id,
        updated_id,
        created_time,
        updated_time,
        id, name, status, type, city, introduction, business_area, business_scope, legal_person, registered_capital, establishment_time, address, website, email, phone,detail_url
    </sql>

    <select id="getCarbonExchangeById" resultType="com.carbon.domain.assets.vo.CarbonExchangeQueryVo">
        select <include refid="Base_Column_List"/> from carbon_exchange where id = #{id}
    </select>

    <select id="getCarbonExchangePageList" resultType="com.carbon.domain.assets.vo.CarbonExchangeQueryVo">
        select <include refid="Base_Column_List"/>
        from carbon_exchange ce
        <where>
            <if test="param.searchKey != null and param.searchKey !='' ">
                (ce.name like CONCAT('%',#{param.searchKey},'%') or ce.business_scope like CONCAT('%',#{param.searchKey},'%'))
            </if>
            <if test="param.type != null">
                and ce.type = #{param.type}
            </if>
            <if test="param.status != null">
                and ce.status = #{param.status}
            </if>
        </where>
    </select>

</mapper>
