<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.assets.mapper.CarbonProjectDocMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cpd.creator_id,
        cpd.updated_id,
        cpd.created_time,
        cpd.updated_time,
        cpd.id, cpd.carbon_project_id, cpd.type, cpd.title, cpd.url,completion_date, cpd.tenant_id
    </sql>

    <select id="getCarbonProjectDocById" resultType="com.carbon.assets.vo.CarbonProjectDocQueryVo">
        select <include refid="Base_Column_List"/> from carbon_project_doc cpd where cpd.id = #{id}
    </select>

    <select id="getCarbonProjectDocPageList" resultType="com.carbon.assets.vo.CarbonProjectDocQueryVo">
        select <include refid="Base_Column_List"/>,
               cp.project_name
        from carbon_project_doc cpd
        left join carbon_project cp on cp.id = cpd.carbon_project_id
        <where>
            <if test="param.projectId != null ">
                and cpd.carbon_project_id = #{param.projectId}
            </if>
            <if test="param.type != null and param.type !=''">
                and cpd.type = #{param.type}
            </if>
            <if test="param.searchKey != null and param.searchKey !='' ">
                and ( cp.project_name like CONCAT('%',#{param.searchKey},'%') or cpd.title like CONCAT('%',#{param.searchKey},'%') or cpd.id like CONCAT('%',#{param.searchKey},'%'))
            </if>
            <if test="param.completionDateStart != null ">
                and <![CDATA[ cpd.completion_date >= #{param.completionDateStart} ]]>
            </if>
            <if test="param.completionDateEnd != null ">
                and <![CDATA[ cpd.completion_date <= #{param.completionDateEnd} ]]>
            </if>

        </where>
    </select>

</mapper>
