<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.assets.mapper.DictMapper">


    <select id="getDictCh" resultType="java.lang.String">
        select sdi.item_ch FROM sys_dict_item sdi WHERE sdi.item_value=#{dictCode}
    </select>

</mapper>
