<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.system.mapper.CarbonArticleMapper">


    <select id="getCarbonArticlePageList" resultType="com.carbon.system.vo.CarbonArticleQueryVo">
        select
        id, title,image_url,url, description,author,browse_num,status,updated_time,category_id
        from carbon_article ca where 1=1 and ca.title!=''
            <if test="param.categoryId != null">
                and ca.category_id = #{param.categoryId}
            </if>
            <if test="param.status != null">
                and ca.status = #{param.status}
            </if>
            <if test="param.searchKeywords != null">
                <if test="param.searchKeywords !='null'">
                    and ca.title like concat('%',concat(#{param.searchKeywords},'%'))
                </if>
            </if>

</select>

    <select id="getCarbonArticlePageList3" resultType="com.carbon.system.vo.CarbonArticleQueryVo">
        select
        id, title,image_url,url, description,author,browse_num,status,updated_time,category_id
        from carbon_article ca where 1=1
        <if test="param.categoryId != null">
            and ca.category_id = #{param.categoryId}
        </if>
        <if test="param.status != null">
            and ca.status = #{param.status}
        </if>
        <if test="param.searchKeywords != null">
            <if test="param.searchKeywords !='null'">
                and ca.title like concat('%',concat(#{param.searchKeywords},'%'))
            </if>
        </if>
        ORDER BY updated_time desc
    </select>

    <update id="SyncArticle">
        update carbon_article set
        title=#{title},author=#{author},content=#{content},status=#{status},category_id=#{category_id},updated_time=#{updated_time}
        where id=#{id}
    </update>
</mapper>
