<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.system.mapper.SysDictMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator_id,
        updated_id,
        created_time,
        updated_time,
        dict_code, dict_name, description, type, del_flag
    </sql>

    <select id="getSysDictPageList" resultType="com.carbon.system.vo.SysDictQueryVo">
        select
            <include refid="Base_Column_List"/>
        from sys_dict sd
        <where>
            sd.del_flag = 0
            <if test="param.dictName !=null and param.dictName !=''">
                and sd.dict_name like concat('%',#{param.dictName},'%')
            </if>
            <if test="param.dictCode !=null and param.dictCode !=''">
                and sd.dict_code like concat('%',#{param.dictCode},'%')
            </if>
        </where>
    </select>

    <select id="getAllDict" resultType="com.carbon.domain.system.vo.SysDictModelVo">
        select sdi.dict_code,
        sdi.item_ch name,
        sdi.item_value value
        from sys_dict_item sdi
    </select>

    <select id="getFieldDict" resultType="com.carbon.system.entity.SysDictItem">
        SELECT sdi.dict_code, sdi.item_value, sdi.item_ch FROM `carbon`.`sys_dict_item` sdi where sdi.dict_code BETWEEN 003 AND 004
    </select>


</mapper>
