<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.system.mapper.SysMenuMapper">



    <select id="getSysMenuList" resultType="com.carbon.system.vo.SysMenuVo">
        select
        id,
        parent_id,
        menu_name,
        menu_icon,
        menu_level,
        order_num,
        menu_url,
        status,
        hidden,
        remarks

        from sys_menu sm
        <where>
            <if test="param.menuLevel != null ">
                and sm.menu_level = #{param.menuLevel}
            </if>
            <if test="param.hidden != null">
                and sm.hidden = #{param.hidden}
            </if>
            <if test="param.status != null">
                and sm.status = #{param.status}
            </if>
            <if test="param.menuName != null and param.menuName != '' ">
                and sm.menu_name like concat("%", #{param.menuName},"%")
            </if>
            <if test="param.menuIds != null and param.menuIds.size()>0 ">
                and sm.id in
                <foreach collection="param.menuIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        order by order_num
    </select>

    <select id="getUserMenu" resultType="com.carbon.system.vo.SysMenuVo">

    </select>

    <select id="getMenuByName" resultType="com.carbon.system.vo.SysMenuVo">
        select  id,
                parent_id,
                menu_name,
                menu_icon,
                menu_level,
                order_num,
                menu_url,
                status,
                hidden,
                remarks
            from sys_menu sm
            where sm.menu_name=#{menuName}
    </select>

</mapper>
